body {
    background: lightblue;
}

.container {
    padding-top: 30px;
}

h2 {
    color: white;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 48px;
    text-transform: none;
    color: white;
    
}

#sub-text {
    font-style: italic;
}

#boxes {
    padding-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#quote-box {
    font-size: 50px;
}

#author {
    font-size: 30px;
    font-style: italic;
}

button {
    background: transparent;
    border: solid;
    border-color: #801638;
    border-radius: 6px;
    color: #801638;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    margin: 5px;
}

#btns {  
    padding-left: 200px;
    padding-top: 50px;
}

.twitter-share-button {
    
}

#att {
    padding-left: 470px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Button and Links Pseudos*/

a:link{
    color: black;
    font-style: none;
}

.button:hover {
    background-color: #801638;
    color: white;
}

.button:active {
    font-size: 12px;
}